# Ignorar el código fuente y binarios descargados
src/
*.tar.gz

# Ignorar archivos temporales
*.swp
*~

# Ignorar certificados/llaves
keys/

imagenes/

llamadas/

version-antigua/

*.txt
*.tex
*.pdf
*.csv
